.header {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5.3rem;
}

.sitenav-list {
  margin-left: auto;
  display: flex;
  gap: 4.2rem;
}

.sitenav-link {
  font-family: Jost;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2px;
  color: #333136;
}

.sitenav-link:active {
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .sitenav {
    display: none;
  }
}
